body {
    background-image: url("../images/background.gif");
    
}

.big-container {
    margin:auto;
    width:75%;
}



.game {
    background-color:#ffff00;
    text-align: center;
    
}


.head {
    font-family: 'Cute Font', cursive;
    color: #5e3628;
    font-size: 90px;
    margin-bottom: 0px;

}

